---
const {
  title,
  description,
  canonicalURL = Astro.url
} = Astro.props;

---
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<title>{title}</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="preload" as="font" href="/fonts/dragon-warrior-iv-nes.woff2" type="font/woff2" crossorigin="">
<script defer data-domain="lukealexdavis.co.uk" src="https://plausible.io/js/plausible.js"></script>
<link rel="icon" type="image/ico" href="/favicon.ico" />
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator}>
<link rel="canonical" href={canonicalURL} />